<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Format Page</title>
    <link rel="stylesheet" href="{% static 'main.css' %}" />
  </head>
  <body>
    <h1 id="tag-format">Example of Formatting Tags</h1>

    <p class="p_formats">This text has <b>subtext </b> using b tag</p>
    <p class="p_formats">This text has <strong>subtext </strong> using strong tag</p>
    <p class="p_formats">This text has <i>subtext </i> using i tag</p>
    <p class="p_formats">This text has <em>subtext </em> using emphasize tag</p>
    <p class="p_formats">This text has <small>subtext </small> using small tag</p>
    <p class="p_formats">This text has <mark>subtext </mark> using mark tag</p>
    <p class="p_formats">This text has <del>subtext</del> using del tag</p>
    <p class="p_formats">This text has <ins>subtext </ins> using ins tag</p>
    <p class="p_formats">This text has X <sub>subtext </sub> using sub tag</p>
    <p class="p_formats">This text has X <sup>subtext </sup> using sup tag</p>
  </body>
</html>
