<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Links Page</title>
    <link rel="stylesheet" href="{% static "main.css" %}"> 
</head>
<body>
    
    <div class="link-container" id="green-box"  >
        <a href="https://www.qu.edu.sa" target="_blank" class="link_style">
            Go to QU website (open a new tab)
        </a>
    </div>

    <div class="link-container" id="gray-box">
        <a href="https://www.qu.edu.sa" class="link_style">
            Go to QU website (open in the same page/tab)
        </a>
    </div>

    <div class="link-container" id="black-box">
        <a href="https://www.qu.edu.sa" class="link_style">
            Go to QU website (open in the same page/tab)
        </a>
    </div>

</body>
</html>
