{% extends "layouts/base.html"  %}
{% load static %}
{% block title %} Book Details {% endblock title %}

{% block content %}

<a href="{% url "books.list_books" %}">Go Back</a>

<h1>Details of Book 1</h1>

<img src="{% static 'Book1.jpg' %}" alt="Book1 Image" width="200" height="200">

<p>
  This book provides a detailed and entertaining introduction to Internet and web programming.
  It’s appropriate for both introductory and intermediate-level client-side and server-side programming courses.
</p>

{% endblock content %}

