<!DOCTYPE html>
<html>
  <head>
    <title>
      {% if form.instance.pk %}
        Edit
      {% else %}
        Add
      {% endif %}Student
    </title>
  </head>
  <body>
    <h1>
      {% if form.instance.pk %}
        Edit
      {% else %}
        Add
      {% endif %}Student
    </h1>

    <form method="post" style="display:inline;">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Save</button>
    </form>

    <form action="{% url 'list_students' %}" method="get" style="display:inline;">
      <button type="submit">Back to Student List</button>
    </form>
  </body>
</html>
